.Text {
$backgroundColor: --bg-black;
$textColor:--fg-white;
$textFont:  --main-text-regular;

color: var($textColor);
background: var($backgroundColor);
font-family:  --main-text-regular;
width:50%;

&.small {
  font-size: smaller;
  width:25%;
}

&.large {
  font-size: xx-large;
  width:100%;
}

&[data-object-type="secondary"] {
  color: var(--fg-black);
  background-color: var(--bg-white);
}

  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}