.Image {
  width: 400px;
  height: 400px;

  &.small {
    width: 200px;
    height: 200px;
  }

  &.large {
    width: 600px;
    height: 600px;
  }

  &[data-object-type="primary"] {
    background-color: var(--bg-black);
    img {
      height: 100%;
      border-radius: 50%;
    }
  }

  &[data-object-type="secondary"] {
    background-color: var(--bg-black);
    display: flex;
    position: relative;
  }

  // XS - Phone
  @media (max-width: 480px) {
  }

  // S - Tablet
  @media (max-width: 768px) {
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {
  }

  // L - High Res
  @media (max-width: 1200px) {
  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {
  }
}
